imagebutton { color: #FFFFFFFF; border-width: 2; min-height:36px;}
imagebutton:hover { color: #FFFFFFFF; border-color: #575570DD; background-color: #575570DD; border-width: 5; border-style:solid; }
guibackground { background-color: #007DBDFF; background-color2: #ACD2E7FF; background-style: vertical-gradient; }
text, text:hover { background-color: #2F1648FF; background-color2: #361E50FF; background-style: vertical-gradient; }
box { background-color: #007DBD00; } 
