<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="info.mokoi.lux"
      android:versionCode="096"
      android:versionName="0.96">

    <uses-sdk android:minSdkVersion="12" android:targetSdkVersion="12" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <application android:label="@string/app_name" android:allowBackup="true" android:icon="@drawable/icon" android:theme="@android:style/Theme.NoTitleBar" >
        <activity android:name="info.mokoi.lux.engine"
                  android:label="@string/app_name" android:screenOrientation="unspecified" android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest> 
